{:paths ["."]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.15.957"}}
 :aliases {:nextjournal/clerk
           {:exec-fn nextjournal.clerk/build!
            :exec-args {:paths-fn common/build}}}}
