{:paths ["dev" "notebooks" "resources"]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
        ;; keep 1.10 until `kixi/stats` and `sicmutils` fix warnings
        org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases {:nextjournal/clerk
           {:exec-fn nextjournal.clerk/build!
            :exec-args {:paths ["Bronze-2011-11-P01.md"]}}}}
